{% extends 'base.html.twig' %}

{% block title %}Hello SiteController!{% endblock %}

{% block body %}

<div class="container">
  <div class="row pb-5">
    <div class="col">
    
      <img style="margin-top: 100px;  width:500px" src="assets/ampoule.png">
    </div>

    <div class="col" style="height:500px">
      <h1 style="margin-top: 300px; font-size:50px "> <strong>AVEC NOUS, C'EST LE COUP DE FOUDRE ASSURE!</strong></h1>
      <p>_____________________________</p>
      <p>Bienvenue sur le site de 3Cables</p>
      <button type="button" class="btn btn-primary">Découvrir</button>
    </div>
  </div>
</div>
    <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 1440 320">
  <path fill="#fc0404" fill-opacity="1" d="M0,96L80,112C160,128,320,160,480,165.3C640,171,800,149,960,165.3C1120,181,1280,235,1360,261.3L1440,288L1440,320L1360,320C1280,320,1120,320,960,320C800,320,640,320,480,320C320,320,160,320,80,320L0,320Z"></path>
</svg>
<div class="color-red-bg" style="background-color:#fc0404">
<div class="container">
  <div class="row pb-5">
    <div class="col">
      <h2 style="margin-top: 200px; font-size:32px"> <strong>Qui suis-je?</strong></h2>
      <p style="color:black">Test</p>
      <button type="button" class="btn btn-primary">En savoir plus <i class="fa-solid fa-arrow-right"></i></button>
    </div>
    <div class="col" style="height:500px">
      <img style=" width:500px" src="assets/ampoule.png">
    </div>
  </div>
</div>
</div>
{% endblock %}
