{% extends 'base.html.twig' %}

{% block title %}Hello SiteController!{% endblock %}

{% block body %}

<div class="container">
  <div class="row">
    <div class="col">
      <img style="margin-top: 100px;  width:500px" src="assets/ampoule.png">
    </div>
    <div class="col" style="height:500px">
      <h1 style="margin-top: 300px; font-size:50px "> <strong>AVEC NOUS, C'EST LE COUP DE FOUDRE ASSURE!</strong></h1>
      <p>_____________________________</p>
      <p>Bienvenue sur le site de 3Cables</p>
      <button type="button" class="btn btn-primary">Découvrir</button>
    </div>
  </div>
{% endblock %}
