{% extends 'base.html.twig' %}

{% block title %}Hello SiteController!{% endblock %}

{% block body %}


<div class="example-wrapper">

   {% for presentation in presentations %}
      <table class="table table-striped">
      <tr><td>
           {{presentation.titre}}
          {{presentation.activites}}
           </td></tr></br>
           </table>
      {%endfor%}

    
</div>
{% endblock %}
