{% extends 'base.html.twig' %}

{% block title %}Hello PrestationController!{% endblock %}

{% block body %}


<div class="example-wrapper">


      {% for prestation in prestations %}
        <table class="table table-striped">
      <tr><td>
           {{prestation.libelle}}
           </td></tr></br>
           </table>
           {%endfor%}
      
</div>
{% endblock %}
