{% extends 'base.html.twig' %}

{% block title %}Hello AvisController!{% endblock %}
{% block body %}


<div class="container pb-5 pt-5" style="margin-top:80px">
  <div class="row align-items-center justify-content-center justify-content-around">
    <div class="col">
      <h1 style="font-size:50px" class="pt-5">
      <strong>PAGE D'AVIS</strong></h1>
      <p>_______________________</p>
      <p>Veuillez trouver les avis laissés par les clients sur le site</p>
      <button type="button" class="btn btn-primary">Voir les avis</button>
    </div>
    <div class="col">
      <img style="width:150px" src="assets/coche.png"> <!-- Changer lien de l'image -->
    </div>
    </br >
    </br >
  </div>
</div>
<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 1440 320"><path fill="#FFC21B" fill-opacity="1" d="M0,0L80,48C160,96,320,192,480,197.3C640,203,800,117,960,101.3C1120,85,1280,139,1360,165.3L1440,192L1440,320L1360,320C1280,320,1120,320,960,320C800,320,640,320,480,320C320,320,160,320,80,320L0,320Z"></path></svg>

<div style="background-color:#FFC21B">
  <div class="container">
    <h1 ><center>Liste de nos avis</center></h1></br> 
      <div style="display:grid; grid-template-columns: 50% 50%; grid-gap: 20px">
      {% for avis in avis %}
        
            <div class="col " style="background-color:#dfaa00; border: 1px solid black; border-radius: 22px; padding: 10px  ">
            
              <h3 class="text-decoration" style="font-weight: 600;  ">
                {{avis.nom}}
                {{avis.prenom}}</h3></br >
                <p style="font-size: 26px; color: #000">{{avis.commentaire}}</p>
            </div>
            
      
      {% endfor %}
      </div>

  </div>
</div>
 <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 1440 320"><path fill="#FFC21B" fill-opacity="1" d="M0,0L80,48C160,96,320,192,480,197.3C640,203,800,117,960,101.3C1120,85,1280,139,1360,165.3L1440,192L1440,0L1360,0C1280,0,1120,0,960,0C800,0,640,0,480,0C320,0,160,0,80,0L0,0Z"></path></svg>
<h1 class="text-decoration-underline text-warning" class="text-warning"><center>Bienvenue sur notre page d'avis</center></h1></br>
<form method="POST" >
    <table class="table table-striped">   
    <tr>
    <td><center><input type="text" id="loginUser" size="32"  placeholder="Votre nom" name="login" required></center></td>
    <td><center><input type="text" id="fisrtnameUser" size="32"  placeholder=" Votre prénom" name="firstname" required></center></td></tr>
    <tr>
    <td><center><input type="text"  size="72"  placeholder="Votre avis"  required></center></td>
    <td><center><button type="submit" class="btn">Enregistrer</button></center></td>
   
            </table></br>
            
      
            </form>
</div>
  </div>
</div>
{% endblock %}
