{% extends 'base.html.twig' %}

{% block title %}Hello AvisController!{% endblock %}
{% block body %}


<div class="container pb-5 pt-5" style="margin-top:80px">
  <div class="row align-items-center justify-content-center justify-content-around">
    <div class="col">
      <h1 style="font-size:50px" class="pt-5">
      <strong>PAGE D'AVIS</strong></h1>
      <p>_______________________</p>
      <p>Veuillez trouver les avis laissés par les clients sur le site</p>
      <button type="button" class="btn btn-primary">Voir les avis</button>
    </div>
    <div class="col" class="pt-5">
    <img style="width:150px" src="assets/coche.png"> <!-- Changer lien de l'image -->
    
    </div>
  </div>
</div>
 
<h1 class="text-decoration-underline text-warning" class="text-warning"><center>Bienvenue sur notre page d'avis</center></h1></br>
<form method="POST" >
    <table class="table table-striped">   
    <tr>
    <td><center><input type="text" id="loginUser" size="32"  placeholder="Votre nom" name="login" required></center></td>
    <td><center><input type="text" id="fisrtnameUser" size="32"  placeholder=" Votre prénom" name="firstname" required></center></td></tr>
    <tr>
    <td><center><input type="text"  size="72"  placeholder="Votre avis"  required></center></td>
    <td><center><button type="submit" class="btn">Enregistrer</button></center></td>
   
            </table></br>
            
       <h1 class="text-warning"><center>Liste de nos avis</center></h1></br>     
    <table class="table table-striped">   
    <tr>
        <th scope="col">Nom</th>
        <th scope="col">Prénom</th>
        <th scope="col">Avis</th>
    </tr>
    {% for avis in avis %}
     <tr>
        <td>{{avis.nom}}</td> 
        <td>{{avis.prenom}}</td> 
        <td>{{avis.commentaire}}</td> 
    </tr>
         
    {% endfor %}
    </table>
            </form>
</div>
{% endblock %}
