{% extends 'base.html.twig' %}

{% block title %}Gestion{% endblock %}

{% block body %}

<div class="container glass-bg">
    <h2 class="text-center">Gestion du compte</h2>
    <div class="row">

    </div>
    <div class="row">
    </div>
</div>

{% endblock %}
